<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown center-div">
  <div id="formContent">
    <!-- Tabs Titles -->
<br>
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://image.flaticon.com/icons/png/512/306/306473.png" id="icon" alt="User Icon" />
    </div>

    <br>
    <!-- Login Form -->
    <form>
      <input type="text" [(ngModel)]="cin" id="cin" class="fadeIn second" name="cin" placeholder="CIN">
      <input type="password" [(ngModel)]="motdepasse" id="motdepasse" class="fadeIn third" name="motdepasse" placeholder="Mot de passe">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="loginfunc()">
    </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Mot de passe oublie ?</a>
    </div>

  </div>
</div>