<div class="container center-div">  
        <div class="row">    
        <div class="col-lg-6">
				  <h4 class="display-4">Platforme de reclamations des dangers en ligne</h4>
				  <p class="lead">Bienvenue sur notre systeme de reclamations des dangers en ligne,
                    "Reclamer et rester sain et sauf".
                    Notre systeme vous donne la chance de reclamer et d'etre informer
                    de toute les dangers qui ce deroule dans votre entourage, declanche
                    des warnings a propos d'un dangers proche de voue de status en
                    cours.</p>
     
				  <hr class="my-2">
				  <p>Si vous etes inscrits vous recevrez des emails a propos des
                        warnings qui vous concerne, vous n'etes pas donc obliger de se
                        connecter ou de consulter le site.</p>
				  
				  <p class="lead">
				    <a class="btn btn-primary" href="#" role="button">Savoir Plus</a>
				  </p>
            </div>
              				<div class="col-lg-6">
                                  				 <img src="assets/logor.png" alt="line" style="width: 40%;">
            <img src="assets/danger.jpg" alt="line" style="width: 100%;">
            </div>
            </div>
</div>