<!--
<div class="jumbotron jumbotron-fluid mb-0">  
  				<div class="container container-fluid">
  				<div class="col-lg-6">
				  <h1 class="display-3">E-Association Platforme</h1>
				  <br>
				  <br>
				  <p class="lead">Bienvenue sur notre systeme de reclamations des dangers en ligne,
"Reclamer et rester sain et sauf".
Notre systeme vous donne la chance de reclamer et d'etre informer
de toute les dangers qui ce deroule dans votre entourage, declanche
des warnings a propos d'un dangers proche de voue de status en
cours.</p>
      <br>
				  <hr class="my-4">
				  <p>Si vous etes inscrits vous recevrez des emails a propos des
warnings qui vous concerne, vous n'etes pas donc obliger de se
connecter ou de consulter le site.</p>
				  <br>
				  <p class="lead">
				    <a class="btn btn-primary" href="#" role="button">Savoir Plus</a>
				  </p>
	</div>
</div>
</div>
       
       
        <section id="login" class="sec-login pt-5 pb-5"> 
         <div class="container"> 
        <div class="row justify-content-center text-center"> 
         <div class="col-md-10 col-lg-8"> 
  
         <form method="post" action="ControleurServlet"> 
                 
				<div class="card-deck">
				  <div class="card border-dark">
				    <img class="card-img-top" src="images/cristi-tohatan-675311-unsplash.jpg" alt="">
				    <div class="card-body">
				      <h5 class="card-title">Association</h5>
				      <p class="card-text">Vous avez un compte association. Se connecter en un seul geste, ajouter des activites, chercher des benevoles
				       collecter des dons.</p>				      
				      <button class="btn btn-primary" name="choix_association" value="choix_association">Se connecter</button>
				      <p class="card-text"><small class="text-muted"></small></p>
				    </div>
				  </div>
				  	  
				  <div class="card border-dark">			  
				    <img class="card-img-top" src="images/poverty2.png" alt="">
				    <div class="card-body">
				      <h5 class="card-title">Benevole</h5>
				      <p class="card-text">Vous avez un compte benevole. Se connecter en un seul geste, chercher des associations, 
				      chercher des activites, faire des dons, particper a des activites.</p>
				       <button class="btn btn-primary" name="choix_benevole" value="choix_benevole">Se connecter</button>
				      <p class="card-text"><small class="text-muted"></small></p>			   
				    </div>
				  </div>				  
				 </div>			 
				   </form> 			 
            </div> 
             </div> 
           </div> 
       </section> 
       
 <section class="sec-benevole pt-5 pb-5 cid-rgbPkTsWVs2 mbr-parallax-background" id="benevole">
  <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(20, 157, 204);">
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <img src="images/benevoel.png" alt="Mobirise">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
                    Espace Benevole
                </h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5">
					Possibilite de faire un don et d'Etre un benevole pour une activites donnees.
              Rechercher des associations et consulter leurs pages ainsi pouvoir les suivre 
              pour recevoir des notifications sur toutes activites.                    </p>
                </div>
                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-primary display-4" href="#">Savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</section>

 <section class="sec-association pt-5 pb-5 cid-rgbPkTsWVs mbr-parallax-background" id="association">
     <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(20, 157, 204);">
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <img src="images/active-african-descent-american-1353351.jpg" alt="Mobirise">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
                    Espace Association
                </h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5">
          Gestion du compte deja cree en etant Association (ajout des evenements, suppression, modification ...) Designation et Creation des futurs activites
           Faire une description de l'activite. Preciser le genre d'aide voulu 
           Exprimer le besoin des benevoles. Consulter les dons.                    
                    </p>
                </div>
                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-primary display-4" href="#">Savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</section>

               <section id="signup" class="sec-signup pt-5 pb-5"> 
         <div class="container"> 
        <div class="row justify-content-center text-center"> 
         <div class="col-md-10 col-lg-8"> 
  
         <form method="post" action="ControleurServlet"> 
                 
				<div class="card-deck">
				  <div class="card border-dark">
				    <img class="card-img-top" src="images/tim-marshall-114623-unsplash.jpg" alt="">
				    <div class="card-body">
				      <h5 class="card-title">Vous avez une Association ?</h5>
				      <p class="card-text">Creer votre compte maintenant en un seul geste, et vous serez connecter immediatement a tout le monde.
				       Ajouter des activites, chercher des benevoles
				       collecter des dons.</p>				      
				      <button class="btn btn-primary" name="choix_association_inscr" value="choix_association_inscr">S'inscrire</button>
				      <p class="card-text"><small class="text-muted"></small></p>
				    </div>
				  </div>
				  	  
				  <div class="card border-dark">			  
				    <img class="card-img-top" src="images/jonathan-kho-709591-unsplash.jpg" alt="">
				    <div class="card-body">
				      <h5 class="card-title">Vous voulez Devenir un Benevole!</h5>
				      <p class="card-text">C'est simple avec un simple geste, creer votre compte benevole. Faire un don. 
				      Chercher des associations, chercher des activites, faire des dons, particper a des activites.</p>
				       <button class="btn btn-primary" name="choix_benevole_inscr" value="choix_benevole_inscr">S'inscrire</button>
				      <p class="card-text"><small class="text-muted"></small></p>			   
				    </div>
				  </div>				  
				 </div>			 
				   </form> 			 
            </div> 
             </div> 
           </div> 
       </section> 
    
    -->
       
         <section id="contact" class="sec-contact pt-5 pb-5 center-div"> 
           <div class="container"> 
             <div class="row justify-content-center"> 
               <div class="col-md-10 col-lg-7"> 
                 <h1 class="h4">Vous avez une question? Contactez-nous! </h1> 
                  
                 <form action="" method=""> 
                   <fieldset class="form-group"> 
                     <label for="formName">Votre Nom:</label> 
                     <input id="formName" class="form-control" type="text" placeholder="Votre Nom" required> 
                   </fieldset> 
                      
                   <fieldset class="form-group"> 
                     <label for="formEmail1">Adresse Electronique:</label> 
                     <input id="formEmail1" class="form-control" type="email" placeholder="Enter email" required> 
                   </fieldset> 
                    
                   <fieldset class="form-group"> 
                     <label for="formMessage">Votre Message:</label> 
                     <textarea id="formMessage" class="form-control" rows="3" placeholder="Votre message" required></textarea> 
                   </fieldset> 
                    
                   <fieldset class="form-group text-center"> 
                     <button class="btn btn-primary" type="submit">Envoyer le Message</button> 
                   </fieldset> 
                 </form> 
               </div> 
             </div> 
           </div> 
        

           <br><br>

         <footer class="footer"> 
           <div class="container"> 
             <ul class="list-inline mb-0 text-center"> 
               <li class="list-inline-item"> 
                   ENSIAS <a href="">&copy; AL Irfane Rabat 2018</a>
               </li>
               </ul> 
           </div>
         </footer>

         <br>
    
     </section> 

       <!--  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>  -->
           <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
           <script src="js/bootstrap.min.js" ></script>
           <!--   <script src="js/jquery.min.js"></script> --> 
			  <script src="js/popper.min.js"></script>
			  <script src="js/tether.min.js"></script>
			  <script src="js/smooth-scroll.js"></script>
			  <script src="js/jarallax.min.js"></script>
			  <script src="js/script.js"></script>
			   <script >
							$("#associ").autocomplete("getdataAssociation.jsp");
			   </script>  