<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container center-div">  
    <div class="row">    
        <div class="col-lg-6">
      <img src="https://image.flaticon.com/icons/png/512/306/306473.png" id="icon" alt="User Icon" />
      <br>
             <!--  this is the previous word that was done
              <p><strong>Nom: </strong>{{user.nom}}</p>
              <p><strong>Prenom: </strong>{{user.prenom}}</p>
              <p><strong>email: </strong> {{user.email}}</p>
              <p><strong>CIN: </strong>{{user.cin}}</p>
              <p><strong>Date de Naissance: </strong>{{user.dateNaissance}}</p>
              <p><strong>Telephone: </strong> {{user.numTele}}</p>
              <p><strong>Adresse: </strong> {{user.adresse}}</p>
              -->

              <!-- the new modofications : YAAAAAAAAAAAYYYY IT WORKED-->
              <div *ngFor="let profil of profils">
                    <p><strong>Nom: </strong>{{profil.name}}</p>
                    <p><strong>Prenom: </strong>{{profil.prenom}}</p>
                    <p><strong>email: </strong> {{profil.email}}</p>
                    <p><strong>CIN: </strong>{{profil.cin}}</p>
                    <p><strong>Date de Naissance: </strong>{{profil.dateNaissance}}</p>
                    <p><strong>Telephone: </strong> {{profil.Telephone}}</p>
                    <p><strong>Adresse: </strong> {{profil.Adresse}}</p>
              </div>
              
            </div>
          
                <div class="col-lg-6">
                <h1>Faire une reclamation  !</h1>

                <form action="#" id="formul">

                <div class="required toUpper">

                    <div class="form-group">
                    </div>
                </div>
                <div class="required">
                    <label for="adresse">adresse</label>
                    <textarea required id="adresse" placeholder="obligatoire" type="text"></textarea>
                </div>
                <div class="required toUpper">
                    <label for="localisation">localisation</label>
                    <input required id="localisation" placeholder="obligatoire" type="text">
                </div>
                <div class="required toUpper">
                    <label for="imvictime">immatriculation victime</label>
                    <input id="imvictime" placeholder="optionnel">
                </div>
                <div class="required">
                    <label for="imsusp">immatriculation Suspect**</label>
                    <input id="imsusp" placeholder="optionnel" type="text">
                </div>
                <div class="required toUpper">
                    <label for="date">date</label>
                    <input type="date" id="optionnel" placeholder="">
                </div>
                <div class="required toUpper">

                    <div class="form-group">

                        <label class="radio-inline">
                        <input type="radio" name="Accident" value="normal" />Accident
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="Incident" value="normal" />Incident
                        </label><label class="radio-inline">
                        <input type="radio" name="Agression" value="normal" /> Agression
                        </label>
                    </div>
                </div>
                <div id="success" class="alert">
                    Bravo, vos infos ont bien été envoyées !
                </div>
                <div id="error" class="alert">
                    Des erreurs existent dans votre formulaire, merci de les corriger avant de ré-essayer l'enregistrement !
                </div>
                <div>
                    <label>&nbsp;</label>
                    <button type="submit">
                    Diffuser
                    </button>
                </div>
                </form>
                </div>
</div>
</div>